@charset "UTF-8";

* {
	margin: 0; padding: 0;
}

body {
	font-family: "Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	font-size: 14px;
	background: url('img/back2.png') no-repeat center center fixed;
	background-size: cover;s
}

a {
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}

a:hover, a:active {
	color: orange;
	text-decoration: blink;
}

.header {
	width: 100%;	
	margin: 0 auto;
}

.header-top {
	margin: 0px auto;
	width: 1000px;
	height: 70px;
	clear: both;
}

.header-subject {
	width: 600px;
	height: 70px;
	float: left;
	color: green;
	margin-left: 0;
}

.header-right {
	width: 400px;
	height: 70px;
	float: left;
}

.menu {
    margin:0px auto;
    width: 1000px;
    min-height: 45px;
    clear: both;
    border-radius: 4px;    
    background-color: white;
  /*  border: 1px solid white; */
    box-sizing: border-box;
}

ul.nav {
  width:100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.nav li { 
  display: inline;
}

ul.nav li a {
  float: left;
  line-height: 40px;
  color: #4641D9;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  margin: 0;
  padding: 0 74.61px;
}

ul.nav .current a, ul.nav li:hover > a {
  font-weight : 900;
  text-decoration: none;
  background: #4641D9;
  color: white;
}

ul.nav ul {
  display: none;
}

ul.nav li:hover > ul {
  position: absolute;
  display: block;
  width: 1000px;
  height: 53px;
  margin: 40px 0 0 -1px;
  background: #4641D9;  
 /* border: 1px solid #e9e9e9;*/
  z-index: 101;
  box-sizing: border-box;
}

ul.nav li:hover > ul li a {
  line-height: 53px;
  color: white;
  text-decoration: none;
  margin: 0 38px;
  padding: 0 35px 0 35px;
  background: #4641D9;  
}

ul.nav li:hover > ul li a:hover {
  color: gold;
  text-decoration: none;
}

.bar {
    width:1000px;
    height: 40px;
    clear: both;
    background: gold;
    border-bottom: 1px solid #cccccc;
    margin: 0px auto;
}

.check-bar {
    width:1000px;
    height: 40px;
    clear: both;
    margin:0px auto;
    line-height:40px;
    text-align:center;
    color: #4641D9;
    background: gold;
}

.check-bar a {
	color: #4641D9;
	text-decoration: none;
}

.check-bar img {
  display: none;
}

.nav-bar a:hover  {
  position: absolute;
  display: block;
  width: 1000px;
  height: 500px;
  z-index: 101;
  box-sizing: border-box;
}

.board {
	clear: both;
	width: 100%;
	text-align: left;
}

.board-body {
	clear: both;
	margin: 0px auto 15px;
	/* min-height: 550px; */
}

.body-img {
	margin-top: 10px;
	margin-bottom: 10px;
	float: letf;	
}

.footer {
	clear: both;
	width: 1000px;
    height: 40px;
    clear: both;
    background: white;
    color: #4641D9;
    margin: 0px auto;
    text-align: center;
    line-height: 40px;
    }

.footer a {
	color: #5D5D5D;
	font-weight: bold;
	text-decoration: none;
	margin: 0 35px;
}

.footer a:hover  {
	color: gold;
}
